<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới nhân viên</title>
</head>
<body>
<form th:action="@{/create-staff}" th:object="${staff}" method="post" enctype="multipart/form-data">
    NAME: <input type="text" th:field="*{name}">
    <br><br><br>
    EMAIL: <input type="email" th:field="*{email}">
    <br><br><br>
    POSITION: <input type="text" th:field="*{position}">
    <br><br><br>
    PICTURE: <input type = "file" name="file">
    <br><br><br>
    <button type="submit">SUBMIT INFORMATION</button>
</form>
</body>
</html>